select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.diagnose-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    margin-top: auto;
    border-radius: 8px;
    height: 100vh;
    background: linear-gradient(-60deg, var(--primary-color), 30%, var(--secondary-color))
}

.diagnose-content-button {
    width: 60%;
}

.diagnose-content-container {
    padding: 20px;
}

.forum-form {
    display: flex;
    flex-direction: column;
}

.forum-input {
    width: 60%;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    border-width: 0px;
    resize: none;
    margin-bottom: 10px;
    font-size: 20px;
    font-style: italic;
    font-family: inherit;
    background-color: transparent;
}

.dropdown {
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-width: 0px;
    font-size: 20px;
    font-style: italic;
    font-family: inherit;
    background-color: transparent;
}

.submit-button {
    background-color: #4A90E2;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #357ABD;
}