select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}


.diagnose-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    margin-top: auto;
    border-radius: 8px;
    height: 100vh;
	background-color: #eee;
    background: linear-gradient(-60deg, var(--primary-color), 30%, #69a58446)
}

.diagnose-content h1 {
    color: #333;
}

.diagnose-content-button {
    width: 60%;
}

.diagnose-content-container {
    padding: 60px;
}

.forum-form {
    display: flex;
    flex-direction: column;
}

.forum-input {
    width: 60%;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    border-width: 0px;
    resize: none;
    margin-bottom: 10px;
    font-size: 20px;
    font-style: italic;
    font-family: inherit;
    background-color: transparent;
    color: var(--primary-color);
}

.dropdown {
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-width: 0px;
    font-size: 20px;
    font-style: italic;
    font-family: inherit;
    background-color: transparent;
    color: var(--primary-color);
}